fastembed
flashrank
langchain-community
langchain-experimental
langchain-groq
langchain-qdrant
langchain
langchain-google-genai
python-dotenv
qdrant-client
streamlit
pypdfium2
rank_bm25
openpyxl
sentence-transformers